@import '../../styles/index';

.chat {
    &-block {
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 16px;
    }

    &--container {
        border-radius: 30px;
        border: 1px solid #67BACC;
        padding: 16px;
        margin-bottom: 12px;
        cursor: pointer;

        @extend .grid--flex, .grid--justify-between;
    }

    &--img {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 1px solid #67BACC;
        margin-right: 12px;
    }

    &--name {
        font-size: 14px;
        color: black;
        font-weight: 700px;
        margin-bottom: 4px;
        line-height: 20px;
    }

    &--message {
        font-size: 12px;
        color: #999;
    }

    &--time {
        font-size: 10px;
        color: #999;
    }

    &--unread-messages {
        border-radius: 50%;

        @extend .background--orange, .grid--flex-all-center;

        width: 20px;
        height: 20px;

        &-number {
            color: white;
            font-size: 10px;
        }
    }

    &--new-chat-modal {
        background-color: white;
        border-radius: 10px;
        width: 340px;
        height: 300px;
        box-sizing: border-box;

        @extend .grid--flex, .grid--flex-column;

        border: 1px solid $blue;

        &-wrapper {
            position: fixed;
            top: 0;
            left: 0;

            @extend .w--full, .h--full, .background--blue-opacity-50, .grid--flex-all-center;
        }

        &-header {
            margin-bottom: 20px;
            margin-top: 20px;
            color: $blue,
        }

        &-close {
            padding: 16px 16px 0;

            @extend .grid--flex, .grid--justify-end;
        }

        &-main {
            padding: 0 32px 32px;

            @extend .grid--flex-all-center, .grid--flex-column;
        }
    }
}

.message-block {
    color: black;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    max-width: 300px;
}

.messages-container {
    overflow-y: scroll;
}
