@import '../../styles/index';

.button {
    padding: 18px 30px;
    border-radius: 24px;
    font-size: 14px;
    color: white;
    border: 0;
    cursor: pointer;
    font-family: Unbounded, cursive;

    &--background {
        &-orange {
            @extend .background--orange;
        }

        &-blue {
            @extend .background--blue;
        }

        &-none {
            background-color: white;
            color: $orange;
        }
    }

}