@import '../../styles/index';

.profile {
    &-content {
        width: 450px;
        height: 800px;
    }

    &-change-password-content {
        width: 450px;
        height: 600px;
    }

    &-photo {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 1px solid $blue;
        margin-bottom: 20px;
        cursor: pointer;
    }

    &-form {
        margin: 20px 0;
    }

    &-exit-button {
        margin-top: 15px;
    }
}
