@import './variables.scss';

.background--orange {
    background-color: $orange;
}

.background--blue {
    background-color: $blue;
}

.color--orange {
    color: $orange;
}

.color--blue {
    color: $blue;
}