@import '../../styles/index.scss';

.input {
    height: 20px;
    border: 0px;
    border-bottom: 1px solid $orange;
    color: $blue;
    font-size: 14px;
    margin-bottom: 20px;

    &:focus-visible {
        outline: none;
    }
    
    &-container {
        @extend .grid--flex, .grid--flex-column;
    }

    &-label {
        @extend .color--orange;
        font-size: 12px;
        margin-bottom: 10px;
    }
}
